@font-face {
  font-family: netflix-sans;
  src: url("../U2-D10-Solo-Project-Netflix-Clone/assets/fonts/NetflixSans-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: netflix-sans-bold;
  font-weight: bold;
  src: url("../U2-D10-Solo-Project-Netflix-Clone/assets/fonts/NetflixSans-Bold.otf")
    format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background-color: #141414;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.navbar {
  padding: 0.5rem;
}

.navbar-brand {
  margin-right: 0;
}

.btn-secondary {
  color: #fff;
  background-color: transparent;
  border-color: #141414;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: #141414;
}

.side-info {
  width: 250px;
}

.side-info span {
  font-size: 0.8rem;
  font-weight: 400;
}

#tv-shows button.genre.btn.btn-secondary {
  border-color: white;
  border-radius: 0;
}

#tv-shows button.genre.btn.btn-secondary span {
  margin-right: 1rem;
}

.tv-shows.d-flex {
  position: relative;
}

#tv-shows div.side-info-span span {
  border: 1px solid white;
  padding-block: 3px;
  padding-inline: 15px;
}

.section-title h3 {
  font-size: 20px;
  color: rgb(194, 194, 194);
}

.show-card {
  position: relative;
  transition: transform 0.5s;
}

.show-card:hover {
  transform: scale(1.2);
  z-index: 2;
}

.infos-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  background-color: #141414;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.show-card:hover .infos-container {
  opacity: 1;
}

.infos-container h6 {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 0;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .side-info-span {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
  .side-info-span {
    display: none;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .side-info-span {
    visibility: visible;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .side-info-span {
    display: inline;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .side-info-span {
    display: block;
  }
}
